.friend-details {
  text-align: center;
}

.friends {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2 {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
